@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/* Header */
.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.8em;
  font-weight: bold;
  color: #b31b3e;
}

.navbar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link {
  font-size: 1em;
  color: #b31b3e;
  text-decoration: none;
  font-weight: 300;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.nav-link.active {
  background-color: #b31b3e;
  color: #fff;
  padding: 4px 15px;
  border-radius: 20px;
}

/* Body */
.detailinfo {
  width: "100%";
  height: "100%";
  position: "relative";
  padding: 20px 33px 20px 33px;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* width: 1181px;
  height: 1929px;
  flex-shrink: 0; */
}

.section {
  padding-bottom: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.pic {
  width: 100%;
  height: 100%;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.rate {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.facility {
  display: flex;
  align-items: center;
}
.icon {
  width: 20;
  height: 20px;
  margin-right: 5px;
}

.tggl {
  width: 80%;
}

.box {
  background-color: #a91d3a;
  height: 15px;
  width: 20px;
  padding: 2px 5px;
}

.custom-row {
  width: 100%;
  height: 9px;
}

.custom-col {
  background-color: #a91d3a;
  border-radius: 16px;
  padding: 2px 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 30%;
  height: 100px;
}

.custom-col h6 {
  margin-bottom: 3px;
}

.custom-col h5 {
  margin-top: 0;
}

.info {
  color: white;
}

@media (min-width: 1024px) {
  .detailinfo {
    padding: 40px 60px;
  }

  .custom-row {
    height: auto;
  }

  .custom-col {
    width: 22%;
    height: 120px;
    font-size: 1rem;
    margin: 0 10px;
  }

  .facility h5 {
    font-size: 1.1rem;
  }
}
