
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}

.booking-grid {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    /* Center the container */
    padding: 20px;
    /* Add padding for inner spacing */
    background-color: #de9c9c;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

/* Header/title styling */
h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 16px;
}

/* Styling for input fields */
ion-item {
    --inner-border-width: 0px;
    --highlight-color-focused: transparent;
    --highlight-color: transparent;
    --background: transparent;
    border: none;
    box-shadow: none;
}

ion-label {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 4px;
}

.order-button {
    --background: #b31b3e;
    margin-top: 20px;
    font-weight: 700;
}

ion-input {
    --padding-start: 12px;
    --padding-end: 12px;
    --background: #fff;
    --border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #3b1212;
    height: 40px;
    width: 100%;
}

.order-button:hover {
    background-color: #b31b3e;
    color : white;
}

ion-button {
    width: 100%;
    --border-radius: 5px;
    --padding-start: 12px;
    --padding-end: 12px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    background-color: #b31b3e;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s;
}

ion-button:hover {
    background-color: #8e1530;
}

/* Total Cost Container styling */
.total-cost-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
}

.total-cost p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #444;
}

.total-cost h2 {
    font-size: 2rem;
    color: #b31b3e;
    font-weight: bold;
    margin: 10px 0;
}

/* Header Styling */
.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #b31b3e;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-link {
    font-size: 1em;
    color: #b31b3e;
    text-decoration: none;
    font-weight: 300;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.nav-link.active {
    background-color: #b31b3e;
    color: #fff;
    padding: 4px 15px;
    border-radius: 20px;
    padding: 8px;
}

@media (min-width: 768px) {
    .order-container {
        max-width: 600px;
        margin: 0 auto;
    }
}

/*ternyata tiap css bisa memengaruhi css yg lain*/