
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px; /* Adjust based on the footer height */
  background-color: #f8f8f8;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  z-index: 100;
  
}

.footer-toolbar {
  background-color: white; 
  color: #a0233a;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.contact-item {
  display: flex;
  align-items: left;
  gap: 10px;
  color: #a0233a;
}

.footer-title h2 {
  font-weight: bold;
  color: #a0233a;
  margin-bottom: 10px;
}
.footer-bottom-bar {
  height: 20px;
  background-color: #a0233a; 
}
.main-content {
  padding-bottom: 80px; /* Adjust based on footer height */
}
